.fc-config-section .well {
    margin-bottom: 5px;
}

.fc-config-section .fc-link-arrow {
    margin-bottom: 5px;
}

.fc-config-section .well h1,
.fc-config-section .well h2,
.fc-config-section .well h3,
.fc-config-section .well h4,
.fc-config-section .well h5,
.fc-config-section .well h6 {
    margin-top: 0;
    margin-bottom: 0;
}

/*
 *  Centering Hack BEGIN
 *  See http://css-tricks.com/centering-in-the-unknown/
 */
.fc-block {
    text-align: center;
}

.fc-block:before {
    display: inline-block;
    /* For visualization
      background: #808080; width: 5px;
      */

    margin-right: -0.25em;
    /*height: 100%;*/
    /*vertical-align: middle;*/

    content: ''; /* Adjusts for spacing */
}

.fc-centered {
    display: inline-block;

    vertical-align: middle;
}

/*
 *  Centering Hack END
**/

/*
 *  Keyboard action button styling.
**/

.btn-header.active > :first-child > a {
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(top,#5a5a5a 0,#686868 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5a5a5a),color-stop(100%,#686868));
    background-image: -webkit-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: -o-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: -ms-linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    background-image: linear-gradient(to bottom,#5a5a5a 0,#686868 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5A5A5A', endColorstr='#686868', GradientType=0);
    -webkit-box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
    box-shadow: inset 0 0 3px 1px rgba(0,0,0,.15);
    color: #fff;
    border-color: #494949;
}

#extr-page #extr-page-header-space {
    margin-right: 2em;
}

#extr-page #header {
    overflow: visible;
}

#extr-page #header > .pull-right {
    margin-top: 0.9em;
}

/*
** Put scroller in widget content.
**/
html.fixed-height, html.fixed-height body {
    height: 100%;
    overflow: hidden;
}

html.fixed-height #main {
    min-height: inherit;
    height: 100%;
}

html.fixed-height #content,
html.fixed-height #content > *,
html.fixed-height.has-footer #content #widget-grid,
html.fixed-height.has-footer #content #widget-grid .row,
html.fixed-height.has-footer #content #widget-grid *[class^="col"],
html.fixed-height.has-footer #content #widget-grid .jarviswidget,
html.fixed-height.has-footer #content #widget-grid .jarviswidget > div {
    height: 100%;
}

html.fixed-height.has-footer #content #widget-grid .jarviswidget > div {
    /* Cater for header height. */
    /*padding-bottom: 32px;*/
    overflow: auto;
}

html.fixed-height.has-footer #content #widget-grid .jarviswidget {
    padding-bottom: 25px;
}

html.fixed-height.has-footer #content {
    padding-bottom: 65px;
}


/*
** Data tables print mode.
*/
html.fixed-height body.DTTT_Print,
html.fixed-height.has-footer body.DTTT_Print #content,
html.fixed-height body.DTTT_Print #content > *,
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid,
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid .row,
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid *[class^="col"],
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid .jarviswidget,
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid .jarviswidget > div {
    overflow: visible;
}

html.fixed-height body.DTTT_Print #main,
html.fixed-height.has-footer body.DTTT_Print #content,
html.fixed-height.has-footer body.DTTT_Print #content #widget-grid .jarviswidget {
    padding: 0;
}

/*
** Typeahead styling.
*/
.twitter-typeahead {
    width: 100%;
}

.twitter-typeahead .tt-dropdown-menu {
    background: #fff;
    width: 100%;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-top: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ccc;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion {
    padding: 2px 6px 2px 6px;
    border-bottom: 1px solid #ddd;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion > p,
.twitter-typeahead .tt-dropdown-menu .tt-suggestion > div {
    margin: 3px 0 3px 0;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion .fc-compound-suggestion .fc-compound-main {
    font-size: 1em;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion .fc-compound-suggestion .fc-compound-hint {
    font-size: 0.8em;
}
.twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor {
    background: #ffe762;
}

/*
** Table styling.
*/

.table tbody > tr.fc-selected td {
    background-color: #9cdfd8;
}

.table tbody > tr td.fc-btn-cell {
    padding: 1px 0;
    text-align: center;
}

.table tbody > tr td.fc-btn-cell.fc-btn-xs-cell {
    padding: 6px 0;;
}

.dt-toolbar {
    margin-top: 2px;
    padding: 0 0 1px;
}

/* Custom input styles */
input.fc-input-empty {
    background: none;
    border: 1px dotted transparent;
    border-bottom-color: #bbbbbb;
    margin-bottom: 10px;
}

input.fc-input-empty:focus {
    border: 1px dashed #bbbbbb;
}

input.fc-input-empty[disabled] {
    border-color: transparent;
}

input.fc-input-full-width {
    width: 100%;
}

input.fc-input-full-width.fc-force {
    width: 100% !important;
}

/*
** Left Menu styling
*/

/* Second level: UL */
nav ul > div > li > ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #7A7A7A;
}
/* Second level: UL LI */
nav ul > div ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    left: 23px;
    top: 16px;
    border-top: 1px solid #7A7A7A;
    z-index: 1;
}
/* Third level: UL LI */
nav ul > div ul ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    left: 10px;
    top: 17px;
    border-top: 1px solid transparent;
}
/* Second level and onwards > */
nav ul > div ul li a i {
    font-size: 14px !important;
    width: 18px !important;
    text-align: center !important;
    vertical-align: 0 !important;
    line-height: 1 !important;
}
/* Second and Third level line color */
nav ul > div > li:hover > ul::before,
nav ul > div > li:hover > ul > li::before {
    border-color: #ACACAC !important;
}


/*
** Keyboard styles.
*/

.fc-keyboard-icon {
    background: none;
    padding: 4px 2px;
    box-shadow: none;
    float: right;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.rtl * {
    direction: rtl;
}

.btn.ui-keyboard-button {
    height: auto;
}

.ui-keyboard-input-current {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.ui-keyboard-header {
    min-height: 25px;
    background: #dddddd;
    margin: -5px 0 0 0;
    padding: 4px;
    cursor: move;
}

/*
** Nav styles
*/
.fc-sidebar li:not(:last-child) .btn {
    margin-bottom: 0.2em;
}