<!-- widget grid -->
<section id="widget-grid" data-widget-grid data-ng-controller="ProductHierarchyMasterCtrl as productHierarchyCtrl">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-md-12 col-sm-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div id="hc-wid-0" data-widget data-widget-editbutton data-widget-deletebutton data-widget-sortable>
                <header>
                    <h2 data-ng-if="productHierarchyCtrl.hierarchyInfo.name"
                        data-ng-bind="productHierarchyCtrl.hierarchyInfo.name"></h2>
                    <h2 data-ng-if="!productHierarchyCtrl.hierarchyInfo.name"
                        data-translate="{{productHierarchyCtrl.titleKey}}"></h2>
                </header>

                <!-- widget div-->
                <div data-widget-body>
                    <!-- widget content -->
                    <div data-widget-content>
                        <!-- List View -->
                        <div data-ng-if="!productHierarchyCtrl.productHierarchy">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                        <input type="search" class="form-control"
                                               placeholder="{{'fc.SEARCH_PLACEHOLDER_TEXT' | translate}}"
                                               data-ng-model="productHierarchyCtrl.filter" data-vt-keyboard />
                                    </div>
                                    <hr class="visible-xs"/>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="btn-group">
                                        <button class="btn btn-primary">
                                            <i class="fa fa-plus"></i>
                                            <span class="hidden-sm hidden-xs" data-translate="fc.NEW_TEXT"></span>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-primary" data-ng-click="productHierarchyCtrl.edit()"
                                                data-ng-disabled="!productHierarchyCtrl.selectedProductHierarchy || productHierarchyCtrl.selectedProductHierarchies.length > 1">
                                            <i class="fa fa-edit"></i>
                                            <span class="hidden-sm hidden-xs" data-translate="fc.EDIT_TEXT"></span>
                                        </button>
                                        <button class="btn btn-danger" data-ng-disabled="!productHierarchyCtrl.selectedProductHierarchy">
                                            <i class="fa fa-trash-o"></i>
                                            <span class="hidden-sm hidden-xs" data-translate="fc.DELETE_TEXT"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <hr/>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="fc-ui-grid-scrollable" data-ui-grid="productHierarchyCtrl.gridOptions"
                                         data-ui-grid-auto-resize data-ui-grid-selection></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pagination-sm pull-right" data-ng-model="productHierarchyCtrl.pagination.page"
                                         data-ng-change="productHierarchyCtrl.pageChanged()" data-pagination
                                         data-total-items="productHierarchyCtrl.pagination.total"
                                         data-max-size="productHierarchyCtrl.pagination.maxSize"></div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="productHierarchyCtrl.productHierarchy">
                            <form class="form-horizontal" name="productHierarchyForm" data-ng-submit="productHierarchyCtrl.saveChanges()">
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="code"
                                           data-translate="fc.merchandising.productHierarchy.input.CODE_LABEL"></label>
                                    <div class="col-md-10">
                                        <input id="code" type="text"
                                               class="fc-input-full-width form-control"
                                               placeholder="{{'fc.merchandising.productHierarchy.input.CODE_LABEL' | translate}}"
                                               data-ng-model="productHierarchyCtrl.productHierarchy.code" data-vt-keyboard/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="name"
                                           data-translate="fc.merchandising.productHierarchy.input.NAME_LABEL"></label>
                                    <div class="col-md-10">
                                        <input id="name" type="text"
                                               class="fc-input-full-width form-control"
                                               placeholder="{{'fc.merchandising.productHierarchy.input.NAME_LABEL' | translate}}"
                                               data-ng-model="productHierarchyCtrl.productHierarchy.name"
                                               data-vt-keyboard/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="extraInfo"
                                           data-translate="fc.merchandising.productHierarchy.input.EXTRA_INFO_LABEL"></label>
                                    <div class="col-md-10">
                                        <input id="extraInfo" type="text"
                                               class="fc-input-full-width form-control"
                                               placeholder="{{'fc.merchandising.productHierarchy.input.EXTRA_INFO_LABEL' | translate}}"
                                               data-ng-model="productHierarchyCtrl.productHierarchy.extraInfo"
                                               data-vt-keyboard/>
                                    </div>
                                </div>

                                <div class="form-actions">
                                    <button class="btn btn-success" type="submit"
                                            data-translate="fc.SAVE_TEXT"></button>
                                    <button class="btn btn-danger" type="reset" data-translate="fc.CANCEL_TEXT"
                                            data-ng-click="productHierarchyCtrl.cancelChanges()"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->