<!-- widget grid -->
<section id="widget-grid" data-widget-grid data-ng-controller="UomMasterCtrl as vm">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-md-12 col-sm-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div id="hc-wid-0" data-widget data-widget-editbutton data-widget-deletebutton data-widget-sortable>
                <header>
                    <h2 data-translate="{{::vm.titleKey}}"></h2>
                </header>

                <!-- widget div-->
                <div data-widget-body>
                    <!-- widget content -->
                    <div data-widget-content>
                        <!-- List View -->
                        <div data-ng-if="!vm.uom">
                            <!-- Button bar -->
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- NOTE: Tooltips don't work without trigger & placements specified. -->
                                    <div class="btn-toolbar">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-primary col-xs-12"
                                                    data-ng-click="vm.newUom()">
                                                <i class="fa fa-plus"></i>
                                                <span data-translate="fc.NEW_TEXT"></span>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default" data-ng-click="vm.selectAll()"
                                                    data-tooltip="{{vm.getSelectionKey() | translate}}"
                                                    data-tooltip-trigger="mouseenter" data-tooltip-placement="bottom">
                                                <i class="fa" data-ng-class="{'fa-check-square-o': vm.selected === 2, 'fa-minus-square-o': vm.selected === 1, 'fa-square-o': !vm.selected}"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" data-ng-click="vm.showInactive = !vm.showInactive"
                                                    data-tooltip="{{vm.getStatusToggleKey() | translate}}"
                                                    data-tooltip-trigger="mouseenter" data-tooltip-placement="bottom">
                                                <i class="fa" data-ng-class="{'fa-eye': vm.showInactive, 'fa-eye-slash': !vm.showInactive}"></i>
                                            </button>
                                        </div>
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success" data-ng-if="vm.selected"
                                                    data-ng-click="vm.activateUoms()"
                                                    data-tooltip="{{'fc.RESTORE_SELECTED_TEXT' | translate}}"
                                                    data-tooltip-trigger="mouseenter" data-tooltip-placement="bottom">
                                                <i class="fa fa-check"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger" data-ng-if="vm.selected"
                                                    data-ng-click="vm.deactivate()"
                                                    data-tooltip="{{'fc.DELETE_SELECTED_TEXT' | translate}}"
                                                    data-tooltip-trigger="mouseenter" data-tooltip-placement="bottom">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input type="search" class="form-control"
                                               placeholder="{{'fc.SEARCH_PLACEHOLDER_TEXT' | translate}}"
                                               data-ng-model="vm.filter" data-vt-keyboard
                                               data-tooltip="{{'fc.SEARCH_PLACEHOLDER_TEXT' | translate}}"
                                               data-tooltip-placement="top-left" data-tooltip-trigger="focus" />
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="btn-group btn-group-justified" data-dropdown>
                                        <button type="button" class="btn btn-default dropdown-toggle" style="width: 100%">
                                            <span data-translate="fc.merchandising.uom.table.FIELD_LABEL_TEXT"></span>
                                            <span data-ng-if="vm.fields.length <= 0">
                                                <span data-translate="fc.ALL_FIELDS_TEXT"></span>
                                            </span>
                                            <span data-ng-if="vm.fields.length > 0">
                                                {{vm.fields.join(', ') | string: 'titleize'}}
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" style="width: 100%">
                                            <li role="presentation" data-ng-repeat="f in vm.getFields()">
                                                <a role="menuitem" tabindex="-1" href=""
                                                   data-ng-click="vm.toggleFilterField(f)">
                                                    <i class="fa fa-fw" data-ng-class="{'fa-check': vm.isFieldSelected(f)}"></i>
                                                    {{f | string: 'humanize'}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <!-- If we have an image in the card, we should set 'data-load-images' to true. -->
                                    <ul class="fc-card-container" data-masonry data-item-selector=".fc-card-wrapper"
                                        data-load-images="false" data-reload-on-show
                                        data-masonry-options="{columnWidth: '.fc-sizer', itemSelector: 'li'}">
                                        <li class="fc-sizer w-lg-3x w-md-4x w-sm-6x w-xs-12x"></li>
                                        <li class="fc-card-wrapper w-lg-3x w-md-4x w-sm-6x w-xs-12x"
                                            data-ng-repeat="uom in vm.uoms" data-masonry-brick>
                                            <div class="fc-card"
                                                 data-ng-click="vm.toggleSelection(uom)"
                                                 data-ng-class="{'fc-selected': uom.isSelected, 'fc-inactive': !uom.active}">
                                                <div class="fc-content-wrapper">
                                                    <!-- We can put an image here. e.g. a logo. I thank Paul for that -->
                                                    <!-- idea... -->
                                                    <!--<div class="fc-card-image">-->
                                                    <!--<img src="http://tympanus.net/Blueprints/GridGallery/img/thumb/1.png"-->
                                                    <!--alt=""/>-->
                                                    <!--</div>-->
                                                    <div class="fc-card-title">
                                                        <span>
                                                            {{uom.code}}
                                                        </span>
                                                    </div>
                                                    <!--card to display the information to the user-->
                                                    <div class="fc-card-body">
                                                        <div class="row" data-ng-if="uom.packagable">
                                                            <div class="col-md-4 col-sm-3 col-xs-4">
                                                            <span class="text-muted">
                                                                <span data-translate="fc.merchandising.uom.table.PACKABLE_TEXT"></span>:
                                                            </span>
                                                            </div>
                                                            <div class="col-md-8 col-sm-9 col-xs-8">
                                                                <span>{{uom.packagable}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row" data-ng-if="uom.description">
                                                            <div class="col-md-4 col-sm-3 col-xs-4">
                                                            <span class="text-muted">
                                                                <span data-translate="fc.merchandising.uom.table.DESCRIPTION"></span>:
                                                            </span>
                                                            </div>
                                                            <div class="col-md-8 col-sm-9 col-xs-8">
                                                                <span>{{uom.description}}</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="fc-card-actions">
                                                        <button class="btn btn-default"
                                                                data-ng-click="$event.stopPropagation(); vm.edit(uom)"
                                                                data-tooltip="{{'fc.EDIT_TEXT' | translate}}"
                                                                data-tooltip-placement="top"
                                                                data-tooltip-trigger="mouseover">
                                                            <i class="fa fa-fw fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-success"
                                                                data-ng-click="$event.stopPropagation(); vm.activateUoms(uom)"
                                                                data-ng-if="!uom.active"
                                                                data-tooltip="{{'fc.RESTORE_TEXT' | translate}}"
                                                                data-tooltip-placement="top"
                                                                data-tooltip-trigger="mouseover">
                                                            <i class="fa fa-fw fa-check"></i>
                                                        </button>
                                                        <button class="btn btn-danger"
                                                                data-ng-click="$event.stopPropagation(); vm.deactivateUoms(uom)"
                                                                data-ng-if="uom.active"
                                                                data-tooltip="{{'fc.DELETE_TEXT' | translate}}"
                                                                data-tooltip-placement="top"
                                                                data-tooltip-trigger="mouseover">
                                                            <i class="fa fa-fw fa-trash-o"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-md-12 fc-block" data-ng-if="vm.hasNextPage()">
                                    <div class="fc-centered">
                                        <button class="btn btn-default btn-sm" data-translate="fc.LOAD_MORE_TEXT"
                                                data-ng-click="vm.loadNextPage()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="vm.uom">
                            <div data-ng-include="'fc/uomFormTpl'"></div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->

<script id="fc/editModalTpl" type="text/ng-template">
    <div class="modal-header">
        <h3 class="modal-title" data-translate="fc.merchandising.uom.DETAIL_PAGE_TITLE"></h3>
    </div>
    <div class="modal-body">
        <div data-ng-include="'fc/uomFormTpl'"></div>
    </div>
</script>

<script id="fc/uomFormTpl" type="text/ng-template">
    <form name="uomForm" role="form" data-ng-submit="vm.saveChanges()">


        <div class="form-group form-group" data-ng-class="{'has-error has-feedback': !uomForm.code.$valid && !uomForm.code.$pristine}">
            <label class="control-label" for="code-1"
                   data-translate="fc.merchandising.uom.table.CODE_HEADER"></label>
            <input id="code-1" type="text" name="code"
                   class="fc-input-full-width form-control"
                   placeholder="{{'fc.merchandising.uom.table.CODE_HEADER' | translate}}"
                   data-ng-model="vm.uom.code" data-vt-keyboard
                   data-ng-required="::vm.validationData.code.required"/>
            <i class="fa fa-times animated fadeInRight fast form-control-feedback"
               data-ng-if="!uomForm.code.$valid && !uomForm.code.$pristine"></i>
                <span class="help-block" data-ng-messages="uomForm.code.$error"
                      data-ng-show="!uomForm.code.$valid && !uomForm.code.$pristine">
                    <span data-ng-if="::vm.validationData.code.required"
                          data-ng-message="required">
                        <span data-translate="fc.merchandising.uom.input.REQUIRED_CODE_VALIDATION_TEXT"></span>
                    </span>
                </span>
        </div>
        <div class="form-group form-group">
            <label class="control-label" for="description-1"
                   data-translate="fc.merchandising.uom.table.DESCRIPTION"></label><br/>
            <textarea id="description-1"  name="description"
                      class="form-control"
                      placeholder="{{'fc.merchandising.uom.table.DESCRIPTION' | translate}}"
                      data-ng-model="vm.uom.description" data-vt-keyboard
                      data-ng-required="::vm.validationData.description.required"></textarea>
        </div><!-- end of abbreviation and uom name form -->
        <div class="row form-group">
            <div class="col-lg-6 col-md-6 " data-ng-class="{'has-error has-feedback': !uomForm.packagable.$valid && !uomForm.packagable.$pristine}">
                <label class="control-label " for="packagable-1"
                       data-translate="fc.merchandising.uom.table.PACKABLE_TEXT"></label><br/>
                <span class="onoffswitch">
                    <input type="checkbox" name="packagable"
                           class="onoffswitch-checkbox" id="packagable-1"
                           data-ng-model="vm.uom.packagable" />
                    <label class="onoffswitch-label" for="packagable-1">
                        <span class="onoffswitch-inner"
                              data-swchon-text="{{'fc.YES_TEXT' | translate}}"
                              data-swchoff-text="{{'fc.NO_TEXT' | translate}}"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
            </div>
            <div class="col-lg-6 col-md-6 " data-ng-class="{'has-error has-feedback': !uomForm.status.$valid && !uomForm.status.$pristine}">
                <label class="control-label " for="status-1"
                       data-translate="fc.merchandising.uom.table.STATUS"></label><br/>
                <span class="onoffswitch">
                    <input type="checkbox" name="status"
                           class="onoffswitch-checkbox" id="status-1"
                           data-ng-model="vm.uom.status" />
                    <label class="onoffswitch-label" for="status-1">
                        <span class="onoffswitch-inner"
                              data-swchon-text="{{'fc.ACTIVE_TEXT' | translate}}"
                              data-swchoff-text="{{'fc.INACTIVE_TEXT' | translate}}"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </span>
            </div>

        </div><!-- end of the precision, scale, order  div -->
        <div class="form-actions">
            <button class="btn btn-success" type="submit" data-ng-disabled="uomForm.$invalid">
                <i class="fa fa-save" data-ng-if="!vm.isSaving"></i>
                <i class="fa fa-spinner fa-spin" data-ng-if="vm.isSaving"></i>
                <span data-translate="fc.SAVE_TEXT"></span>
            </button>
            <button class="btn btn-danger" type="reset" data-translate="fc.CANCEL_TEXT"
                    data-ng-click="vm.cancelChanges()"></button>
        </div>
    </form>
</script>