<!-- widget grid -->
<section id="widget-grid" data-widget-grid data-ng-controller="OrganisationalHierarchyMasterCtrl as vm">
    <!-- row -->
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-md-12 col-sm-12">
            <!-- Widget ID (each widget will need unique ID)-->
            <div id="hc-wid-0" data-widget data-widget-editbutton data-widget-deletebutton data-widget-sortable>
                <header>
                    <h2 data-translate="{{::vm.titleKey}}"></h2>
                </header>

                <!-- widget div-->
                <div data-widget-body>
                    <!-- widget content -->
                    <div data-widget-content>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 center-block">
                                <div data-ng-include="'common/hierarchy.mapping.tpl.html'"></div>
                                <button class="btn btn-primary pull-right"
                                        data-ng-disabled="!vm.validate()" data-ng-click="vm.save()">
                                    <i class="fa fa-save" data-ng-if="!vm.isSaving"></i>
                                    <i class="fa fa-spinner fa-spin" data-ng-if="vm.isSaving"></i>
                                    <span data-translate="fc.SAVE_TEXT"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->
                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->
        </article>
        <!-- WIDGET END -->
    </div>
    <!-- end row -->
</section>
<!-- end widget grid -->